<ion-content>
  <div class="container-fluid">
    <h3 class="text-dark mb-1">Timetable</h3>
    <div class="table-responsive table-bordered" style="margin-top: 30px;">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="width: 14%; text-align: center;">\</th>
                    <th style="width: 14%;text-align: center;">Monday</th>
                    <th style="width: 14%;text-align: center;">Tuesday</th>
                    <th style="width: 14%;text-align: center;">Wednesday</th>
                    <th style="width: 14%;text-align: center;">Thursday</th>
                    <th style="width: 14%;text-align: center;">Friday</th>
                    <th style="width: 14%;text-align: center;">Saturday</th>
                </tr>
            </thead>
            <tbody style="background-color: black;">
                <tr>
                    <td style="width: 14%;">9:00</td>
                    <td id="9-1" style="width: 14%;" (click)="setTimetable($event, 9, 1)"></td>
                    <td id="9-2" style="width: 14%;" (click)="setTimetable($event, 9, 2)">Cell 1</td>
                    <td id="9-3" style="width: 14%;" (click)="setTimetable($event, 9, 3)">Cell 1</td>
                    <td id="9-4" style="width: 14%;" (click)="setTimetable($event, 9, 4)">Cell 1</td>
                    <td id="9-5" style="width: 14%;" (click)="setTimetable($event, 9, 5)">Cell 1</td>
                    <td id="9-6" style="width: 14%;" (click)="setTimetable($event, 9, 6)">Cell 1</td>
                </tr>
                <tr>
                    <td style="width: 14%;">10:00</td>
                    <td id="10-1" style="width: 14%;" (click)="setTimetable($event, 10, 1)"></td>
                    <td id="10-2" style="width: 14%;" (click)="setTimetable($event, 10, 2)">Cell 1</td>
                    <td id="10-3" style="width: 14%;" (click)="setTimetable($event, 10, 3)">Cell 1</td>
                    <td id="10-4" style="width: 14%;" (click)="setTimetable($event, 10, 4)">Cell 1</td>
                    <td id="10-5" style="width: 14%;" (click)="setTimetable($event, 10, 5)">Cell 1</td>
                    <td id="10-6" style="width: 14%;" (click)="setTimetable($event, 10, 6)">Cell 1</td>
                </tr>
                <tr>
                    <td style="width: 14%;">11:00</td>
                    <td id="11-1" style="width: 14%;" (click)="setTimetable($event, 11, 1)">Cell 1</td>
                    <td id="11-2" style="width: 14%;" (click)="setTimetable($event, 11, 2)">Cell 1</td>
                    <td id="11-3" style="width: 14%;" (click)="setTimetable($event, 11, 3)">Cell 1</td>
                    <td id="11-4" style="width: 14%;" (click)="setTimetable($event, 11, 4)">Cell 1</td>
                    <td id="11-5" style="width: 14%;" (click)="setTimetable($event, 11, 5)">Cell 1</td>
                    <td id="11-6" style="width: 14%;" (click)="setTimetable($event, 11, 6)">Cell 1</td>
                </tr>
                <tr>
                    <td style="width: 14%;">12:00</td>
                    <td id="12-1" style="width: 14%;" (click)="setTimetable($event, 12, 1)">Cell 1</td>
                    <td id="12-2" style="width: 14%;" (click)="setTimetable($event, 12, 2)">Cell 1</td>
                    <td id="12-3" style="width: 14%;" (click)="setTimetable($event, 12, 3)">Cell 1</td>
                    <td id="12-4" style="width: 14%;" (click)="setTimetable($event, 12, 4)">Cell 1</td>
                    <td id="12-5" style="width: 14%;" (click)="setTimetable($event, 12, 5)">Cell 1</td>
                    <td id="12-6" style="width: 14%;" (click)="setTimetable($event, 12, 6)">Cell 1</td>
                </tr>
                <tr>
                    <td style="width: 14%;">13:00</td>
                    <td id="13-1" style="width: 14%;" (click)="setTimetable($event, 13, 1)">Cell 1</td>
                    <td id="13-2" style="width: 14%;" (click)="setTimetable($event, 13, 2)">Cell 1</td>
                    <td id="13-3" style="width: 14%;" (click)="setTimetable($event, 13, 3)">Cell 1</td>
                    <td id="13-4" style="width: 14%;" (click)="setTimetable($event, 13, 4)">Cell 1</td>
                    <td id="13-5" style="width: 14%;" (click)="setTimetable($event, 13, 5)">Cell 1</td>
                    <td id="13-6" style="width: 14%;" (click)="setTimetable($event, 13, 6)">Cell 1</td>
                </tr>
                <tr>
                    <td style="width: 14%;">14:00</td>
                    <td id="14-1" style="width: 14%;" (click)="setTimetable($event, 14, 1)">Cell 1</td>
                    <td id="14-2" style="width: 14%;" (click)="setTimetable($event, 14, 2)">Cell 1</td>
                    <td id="14-3" style="width: 14%;" (click)="setTimetable($event, 14, 3)">Cell 1</td>
                    <td id="14-4" style="width: 14%;" (click)="setTimetable($event, 14, 4)">Cell 1</td>
                    <td id="14-5" style="width: 14%;" (click)="setTimetable($event, 14, 5)">Cell 1</td>
                    <td id="14-6" style="width: 14%;" (click)="setTimetable($event, 14, 6)">Cell 1</td>
                </tr>
                <tr>
                    <td style="width: 14%;">15:00</td>
                    <td id="15-1" style="width: 14%;" (click)="setTimetable($event, 15, 1)">Cell 1</td>
                    <td id="15-2" style="width: 14%;" (click)="setTimetable($event, 15, 2)">Cell 1</td>
                    <td id="15-3" style="width: 14%;" (click)="setTimetable($event, 15, 3)">Cell 1</td>
                    <td id="15-4" style="width: 14%;" (click)="setTimetable($event, 15, 4)">Cell 1</td>
                    <td id="15-5" style="width: 14%;" (click)="setTimetable($event, 15, 5)">Cell 1</td>
                    <td id="15-6" style="width: 14%;" (click)="setTimetable($event, 15, 6)">Cell 1</td>
                </tr>
                <tr>
                    <td style="width: 14%;">16:00</td>
                    <td id="16-1" style="width: 14%;" (click)="setTimetable($event, 16, 1)">Cell 1</td>
                    <td id="16-2" style="width: 14%;" (click)="setTimetable($event, 16, 2)">Cell 1</td>
                    <td id="16-3" style="width: 14%;" (click)="setTimetable($event, 16, 3)">Cell 1</td>
                    <td id="16-4" style="width: 14%;" (click)="setTimetable($event, 16, 4)">Cell 1</td>
                    <td id="16-5" style="width: 14%;" (click)="setTimetable($event, 16, 5)">Cell 1</td>
                    <td id="16-6" style="width: 14%;" (click)="setTimetable($event, 16, 6)">Cell 1</td>
                </tr>
                <tr>
                    <td style="width: 14%;">17:00</td>
                    <td id="17-1" style="width: 14%;" (click)="setTimetable($event, 17, 1)">Cell 1</td>
                    <td id="17-2" style="width: 14%;" (click)="setTimetable($event, 17, 2)">Cell 1</td>
                    <td id="17-3" style="width: 14%;" (click)="setTimetable($event, 17, 3)">Cell 1</td>
                    <td id="17-4" style="width: 14%;" (click)="setTimetable($event, 17, 4)">Cell 1</td>
                    <td id="17-5" style="width: 14%;" (click)="setTimetable($event, 17, 5)">Cell 1</td>
                    <td id="17-6" style="width: 14%;" (click)="setTimetable($event, 17, 6)">Cell 1</td>
                </tr>
                <tr>
                    <td style="width: 14%;">18:00</td>
                    <td id="18-1" style="width: 14%;" (click)="setTimetable($event, 18, 1)">Cell 1</td>
                    <td id="18-2" style="width: 14%;" (click)="setTimetable($event, 18, 2)">Cell 1</td>
                    <td id="18-3" style="width: 14%;" (click)="setTimetable($event, 18, 3)">Cell 1</td>
                    <td id="18-4" style="width: 14%;" (click)="setTimetable($event, 18, 4)">Cell 1</td>
                    <td id="18-5" style="width: 14%;" (click)="setTimetable($event, 18, 5)">Cell 1</td>
                    <td id="18-6" style="width: 14%;" (click)="setTimetable($event, 18, 6)">Cell 1</td>
                </tr>
                <tr>
                    <td style="width: 14%;">19:00</td>
                    <td id="19-1" style="width: 14%;" (click)="setTimetable($event, 19, 1)">Cell 1</td>
                    <td id="19-2" style="width: 14%;" (click)="setTimetable($event, 19, 2)">Cell 1</td>
                    <td id="19-3" style="width: 14%;" (click)="setTimetable($event, 19, 3)">Cell 1</td>
                    <td id="19-4" style="width: 14%;" (click)="setTimetable($event, 19, 4)">Cell 1</td>
                    <td id="19-5" style="width: 14%;" (click)="setTimetable($event, 19, 5)">Cell 1</td>
                    <td id="19-6" style="width: 14%;" (click)="setTimetable($event, 19, 6)">Cell 1</td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>
  <div *ngIf="menuShow" class="dropdown" style="position: absolute; width: 300px;" [style.top.px]='mouseY - 70' [style.left.px]='mouseX'>
    <ul class="dropdown-menu show">
      <li *ngFor="let course of currentCourses" [style.backgroundColor]="course.color" style="margin-bottom: 3px; border-radius: 2px; width: 96%; margin-left: 2%; text-align: left;"><a class="dropdown-item" style="color: white; padding: 0px; width: 100%;">{{ course.Title }}</a></li>
    </ul>
  </div>
</ion-content>
