{% extends 'front/base.html.twig' %}
{% block sidebar %}
    <ul class="navbar-nav text-light" id="studentSidebar">
        <li class="nav-item" id="side1" style="font-size: 24px;">
            <a class="nav-link" href="{{ path('student-course-stream') }}" style="background: #215396;">
                <i class="fa fa-home" style="color: #ffffff;width: 20px;height: 20px;"></i><span style="color: #ffffff;font-size: 16px;">Home</span></a>
            <a class="nav-link active" href="{{ path('student-view-profile') }}" style="background: #ededed;">
                <i class="fa fa-user" style="color: #215396;width: 20px;height: 20px;"></i><span style="color: #215396;font-size: 16px;">View Mentor</span></a>
            <a class="nav-link" href="{{ path('student-timetable') }}" style="color: #ffffff;background: #215396;">
                <i class="fas fa-clock" style="color: #ffffff;width: 20px;height: 20px;"></i><span style="font-size: 16px;color: #ffffff;background: #215396;">View Timetable</span></a>
            <a class="nav-link" href="{{ path('student-appointment') }}" style="background: #215396;">
                <i class="far fa-calendar-times" style="color: #ffffff;width: 20px;height: 20px;"></i><span style="font-size: 16px;color: #ffffff;background: #215396;">Request Appointment</span></a>
        </li>
    </ul>
{% endblock %}
                    {% block classcode %}
                        <p class="text-primary m-0 font-weight-bold" style="font-size: 20px;">CEN 110 - C Programming</p>
                    {% endblock %}
{% block main %}
                <div class="container-fluid">
                    <h3 class="text-dark mb-4">John Mayer</h3>
                    <div class="row mb-3">
                        <div class="col-lg-4">
                            <div class="card mb-3">
                                <div class="card-body text-center shadow"><img class="rounded-circle mb-3 mt-4" src="assets/img/dogs/user.png" width="160" height="160"></div>
                                <div class="card-body text-center shadow" style="margin-top: 20px;">
                                    <h1 style="font-size: 19px;text-align: left;color: rgb(68,68,68);">Computer Engineering</h1>
                                    <h1 style="font-size: 14px;text-align: left;">Year 3</h1>
                                    <hr>
                                    <p style="text-align: left;">An experienced software developer in ...</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="row">
                                <div class="col">
                                    <div class="card shadow">
                                        <div class="card-header py-3">
                                            <p class="text-primary m-0 font-weight-bold" style="font-size: 20px;">John's Courses</p>
                                        </div>
                                        <div class="card-body">
                                            <form>
                                                <div class="form-row">
                                                    <div class="col" style="text-align: center;">
                                                        <div class="form-group" style="margin-top: 4px;text-align: left;"><span style="margin-top: 5px;">CEN 110 - C Programming</span></div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group"><a class="btn btn-success btn-icon-split" role="button"><span class="text-white-50 icon"><i class="fas fa-check"></i></span><span class="text-white text">Already Enrolled</span></a></div>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="col" style="text-align: center;">
                                                        <div class="form-group" style="margin-top: 4px;text-align: left;"><span style="margin-top: 5px;">PHY 101 - General Physics</span></div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group"><a class="btn btn-warning btn-icon-split" role="button"><span class="text-white-50 icon"><i class="fas fa-plus"></i></span><span class="text-white text">Request to enroll</span></a></div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="card shadow" style="margin-top: 20px;">
                                        <div class="card-header py-3">
                                            <p class="text-primary m-0 font-weight-bold" style="font-size: 20px;">John's Agenda</p>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive table-bordered" style="margin-top: 30px;background: #ffffff;margin-bottom: 30px;">
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th style="width: 14%;"></th>
                                                            <th style="width: 14%;text-align: center;">Monday</th>
                                                            <th style="width: 14%;text-align: center;">Tuesday</th>
                                                            <th style="width: 14%;text-align: center;">Wednesday</th>
                                                            <th style="width: 14%;text-align: center;">Thursday</th>
                                                            <th style="width: 15%;text-align: center;">Friday</th>
                                                            <th style="width: 14%;text-align: center;">Saturday</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td style="width: 14%;">10:00</td>
                                                            <td data-toggle="dropdown" style="width: 14%"></td>
                                                            <td style="width: 14%;"></td>
                                                            <td style="width: 14%;"></td>
                                                            <td style="width: 14%;"></td>
                                                            <td style="width: 14%;"></td>
                                                            <td style="width: 14%;"></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width: 14%;">11:00</td>
                                                            <td style="width: 14%;"></td>
                                                            <td style="width: 14%;"></td>
                                                            <td style="width: 14%;"></td>
                                                            <td style="width: 14%;"></td>
                                                            <td style="width: 14%;"></td>
                                                            <td style="width: 14%;"></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width: 14%;">12:00</td>
                                                            <td style="width: 14%;"></td>
                                                            <td style="width: 14%;"></td>
                                                            <td style="width: 14%;"></td>
                                                            <td style="width: 14%;"></td>
                                                            <td style="width: 14%;"></td>
                                                            <td style="width: 14%;"></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width: 14%;">13:00</td>
                                                            <td style="width: 14%;"></td>
                                                            <td style="width: 14%;color: #ffffff;background: #215396;text-align: center;font-size: 14px;">CEN 110</td>
                                                            <td style="width: 14%;"></td>
                                                            <td style="width: 14%;"></td>
                                                            <td style="width: 14%;"></td>
                                                            <td style="width: 14%;"></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width: 14%;">14:00</td>
                                                            <td style="width: 14%;"></td>
                                                            <td style="width: 14%;"></td>
                                                            <td style="width: 14%;"></td>
                                                            <td style="width: 14%;"></td>
                                                            <td style="width: 14%;"></td>
                                                            <td style="width: 14%;"></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width: 14%;">15:00</td>
                                                            <td style="width: 14%;"></td>
                                                            <td style="width: 14%;"></td>
                                                            <td style="width: 14%;color: #ffffff;background: #215396;text-align: center;font-size: 14px;">CEN 110</td>
                                                            <td style="width: 14%;"></td>
                                                            <td style="width: 14%;"></td>
                                                            <td style="width: 14%;"></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width: 14%;">16:00</td>
                                                            <td style="width: 14%;"></td>
                                                            <td style="width: 14%;"></td>
                                                            <td style="width: 14%;"></td>
                                                            <td style="width: 14%;"></td>
                                                            <td style="width: 14%;color: #ffffff;text-align: center;background: #215396;font-size: 14px;">PHY 101</td>
                                                            <td style="width: 14%;"></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width: 14%;">17:00</td>
                                                            <td style="width: 14%;"></td>
                                                            <td style="width: 14%;"></td>
                                                            <td style="width: 14%;"></td>
                                                            <td style="width: 14%;"></td>
                                                            <td style="width: 14%;color: #ffffff;text-align: center;background: #215396;">PHY 101</td>
                                                            <td style="width: 14%;"></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width: 14%;">18:00</td>
                                                            <td style="width: 14%;"></td>
                                                            <td style="width: 14%;"></td>
                                                            <td style="width: 14%;"></td>
                                                            <td style="width: 14%;"></td>
                                                            <td style="width: 14%;"></td>
                                                            <td style="width: 14%;"></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width: 14%;">19:00</td>
                                                            <td style="width: 14%;"></td>
                                                            <td style="width: 14%;"></td>
                                                            <td style="width: 14%;"></td>
                                                            <td style="width: 14%;"></td>
                                                            <td style="width: 14%;"></td>
                                                            <td style="width: 14%;"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
{% endblock %}