{% extends 'front/base.html.twig' %}
{% block sidebar %}
    <ul class="navbar-nav text-light" id="studentSidebar">
        <li class="nav-item" id="side1" style="font-size: 24px;">
            <a class="nav-link" href="{{ path('student-course-stream') }}" style="background: #215396;">
                <i class="fa fa-home" style="color: #ffffff;width: 20px;height: 20px;"></i><span style="color: #ffffff;font-size: 16px;">Home</span></a>
            <a class="nav-link" href="{{ path('student-view-profile') }}" style="background: #215396;">
                <i class="fa fa-user" style="color: #ffffff;width: 20px;height: 20px;"></i><span style="color: #ffffff;font-size: 16px;background: #215396;">View Mentor</span></a>
            <a class="nav-link" href="{{ path('student-timetable') }}" style="color: #ffffff;background: #215396;">
                <i class="fas fa-clock" style="color: #ffffff;width: 20px;height: 20px;"></i><span style="font-size: 16px;color: #ffffff;background: #215396;">View Timetable</span></a>
            <a class="nav-link active" href="{{ path('student-appointment') }}" style="background: #ededed;">
                <i class="far fa-calendar-times" style="color: #215396;width: 20px;height: 20px;"></i><span style="color: #215396;font-size: 16px;">Request Appointment</span></a>
        </li>
    </ul>
{% endblock %}
                    {% block classcode %}
                        <p class="text-primary m-0 font-weight-bold" style="font-size: 20px;">CEN 110 - C Programming</p>
                    {% endblock %}
{% block main %}
                <div class="container-fluid">
                    <h3 class="text-dark mb-1" style="margin-bottom: 30px;padding-bottom: 30px;margin-left: 100px;">Request Appointment</h3>
                    <div class="card" style="width: 80%;margin-left: 100px;">
                        <div class="card-body">
                            <h4 class="card-title" style="margin-bottom: 20px;">Select preferable time for appointment</h4><input type="date" style="margin: 10px;border-color: #215396;"><input type="time" style="margin: 10px;margin-left: 10px;border-color: #215396;">
                            <h4 class="card-title" style="margin-top: 30px;margin-bottom: 20px;">Choose type of meeting</h4>
                            <div class="custom-control text-monospace text-primary custom-switch"><input class="custom-control-input" type="checkbox" id="formCheck-1"><label class="custom-control-label" for="formCheck-1" style="color: #215396;">Online Meeting</label></div>
                            <div class="custom-control text-monospace text-primary custom-switch"><input class="custom-control-input" type="checkbox" id="formCheck-1"><label class="custom-control-label" for="formCheck-1" style="color: #215396;">One-to-One Meeting</label></div>
                            <h4 class="card-title" style="margin-top: 30px;margin-bottom: 20px;">Briefly describe what you'd like to discuss</h4><textarea class="form-control-lg" style="width: 100%;max-width: 700px;padding: 20px;height: 100px;border-color: #215396;" rows="10"></textarea>
                            <hr>
                            <div class="form-group text-right" style="margin-right: 10px;"><button class="btn btn-primary btn-sm" type="submit" style="background: #215396;text-align: center;font-size: 18px;border-radius: 7px;width: 150px;">Send Request</button></div>
                        </div>
                    </div>
                </div>
{% endblock %}