<ion-content>
  <div class="container-fluid">
    <h3 class="text-dark mb-1">Mail</h3>
    <div style="width: 89%;max-width: 600px;margin: auto; margin-top: 30px;">
        <div class="input-group" style="border-radius: 7px;border: 1px solid rgb(211,211,211);">
            <div class="input-group-prepend" style="border-style: none;"><span class="input-group-text" style="border-style: none;">To:</span></div><input class="form-control" type="text" style="border-radius: 0px;border-style: none;">
        </div>
        <div class="input-group" style="margin-top: 15px;border-radius: 7px;border: 1px solid rgb(211,211,211);margin-bottom: 15px;">
            <div class="input-group-prepend" style="border-style: none;"><span class="input-group-text" style="border-style: none;">Subject:</span></div><input class="form-control" type="text" style="border-radius: 0px;border-style: none;">
        </div><textarea placeholder="Message" style="width: 100%;height: 200px;"></textarea><button class="btn btn-primary" type="button" style="height: 38px;width: 100px;margin-top: 10px;">Send</button>
    </div>
  </div>
</ion-content>
